.navbar {
  background-color: var(--light-green);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 50px;
  gap: 20px;
}

.navbar div {
  display: flex;
  justify-content: space-between;
  /* background-color: aliceblue; */
  flex: 1;
  padding-right: 20px;
}

.navbar a {
  margin: 0 10px;
  font-weight: bold;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 35px;
}

/* Cart Link Styling */
.cart-link {
  position: relative;
}

/* Cart Item Count Badge */
.cart-count {
  background: red;
  color: white;
  font-size: 0.8rem;
  padding: 2px 6px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -10px;
}

@media (max-width:400px) {
  .navbar {
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
  }

  .navbar a {
    font-size: 14px;
    margin: 0;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-img {
    width: 35px;
  }

}