.navbar {
  background-color: var(--light-green);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 50px;
}

.navbar a {
  margin: 0 10px;
  font-weight: bold;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 35px;
}

@media (max-width:400px) {
  .navbar {
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
  }

  .navbar a {
    font-size: 14px;
    margin: 0;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-img {
    width: 35px;
  }

}